@import "src/styles/vars";
.ant-modal-root {
  .ant-modal-content {
  }

  .ant-modal-footer {
    display: none;
  }

  .ant-modal-body {
    padding-bottom:0;
  }
  .registrationLink{
    a{
      color: @secondary-color ;
    }
  }
  .modal_controls {
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      margin-left: 1rem;
    }
  }
}